@import "compass";

header,
footer {
	background:#383838;
	color:white;
}

html,
body {
	margin:0;
	padding:0;
}

* {
	@include box-sizing(border-box);
	font-family:sans-serif;
}

img {
	max-width:100%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', sans-serif;
}

.wrap,
.header-inner,
.footer-inner {
	@include clearfix;
	max-width:1024px;
	margin:0 auto;
}

.header-inner {
	padding:0 20px;
}

footer {
	padding:10px;
	height:200px;
}

.main {
	width:66%;
	float:left;
	padding:20px;

	h1 {
		margin-top:0;
	}
}

.sidebar {
	width:34%;
	float:right;
	padding:20px;

	img {
		margin-bottom:20px;
	}
}